
.button{
    padding:30px;
    border-spacing: 20px;
    top: 26px;
    left: 73px;
    width: 16px;
    height: 19px;
  }
.blackButton{
    background-color: rgb(31, 15, 90);
    color: white;
  }
  
   
  
.whiteButton{
    background-color: white;
    color: black;

    

  }
  
  
  